# {{ ansible_managed }}
version: "3.7"

services:
  app:
    image: jc21/nginx-proxy-manager:{{ npm_version }}
    ports:
      - 80:80
      - 443:443
      - {{ npm_admin_port }}:81
    restart: always
    volumes:
      - {{ app_folder }}/data:/data
      - {{ app_folder }}/letsencrypt:/etc/letsencrypt
